
	<h3>Oversikt over draktfarger i PL-sesongen 15/16</h3>
	
	<p>Neste kamper</p>
	<ul>
		<li ng-repeat="match in nextMatches"><a ng-click="getTeams(match.homeTeam, match.awayTeam)" href="">{{match.homeTeam.name}} vs {{match.awayTeam.name}} - kl. {{match.time}}</a></li>
	</ul>

	<section class="search">
		<form action="">
			<label for="">Søk etter lag</label>
			<div class="form-group">
				<input type="text" ng-model="textSearch" placeholder="Lagnavn" class="form-control">
			</div>

			<div class="form-group">
				<button class="form-control btn btn-primary" ng-click="resetTeams()">Hent alle lag</button>
			</div>

		</form>
		
	</section>
	<section class="players">
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-repeat="team in teams | filter:textSearch | orderBy: 'teamName'" ng-show="allTeams">

				<div class="panel panel-primary">
					<div class="panel-heading text-center">
						<h3 class="team-name">{{team.teamName}}</h3>
						<img ng-src="{{team.homeJersey}}" alt="">
						<img ng-src="{{team.awayJersey}}" alt="">
					</div>
					<div class="panel-body">
						
						<p><b>Arena:</b> {{team.arena}}</p>
						<p>Hjemmedrakter</p>
						<dl>
							<dt>Hjemmefarge - primær</dt>
							<dd>{{team.homePrimaryColor}}</dd>
							<dt>Hjemmefarge - sekundær</dt>
							<dd>{{team.awayPrimaryColor}}</dd>
							<dt>Keeperfarge - primær</dt>
							<dd>{{team.keeperColorPrimary}}</dd>
						</dl>
						<hr>
						<p>Bortedrakter</p>
						<dl>
							<dt>Bortedrakt - primær</dt>
							<dd>{{team.awayPrimaryColor}}</dd>
							<dt>Bortedrakt - sekundær</dt>
							<dd>{{team.awaySecondaryColor}}</dd>
							<dt>Keeperfarge - borte</dt>
							<dd>{{team.keeperColorSecondary}}</dd>
						</dl>
						
					</div>
				</div>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-repeat="team in selectedTeams | filter:textSearch | orderBy: 'priority'" ng-show="selectedTeams">

				<div class="panel panel-primary">
					<div class="panel-heading text-center">
						<h3 class="team-name">{{team.teamName}}</h3>
						<img ng-src="{{team.homeJersey}}" alt="">
						<img ng-src="{{team.awayJersey}}" alt="">
					</div>
					<div class="panel-body">
						
						<p><b>Arena:</b> {{team.arena}}</p>
						<p>Hjemmedrakter</p>
						<dl>
							<dt>Hjemmefarge - primær</dt>
							<dd>{{team.homePrimaryColor}}</dd>
							<dt>Hjemmefarge - sekundær</dt>
							<dd>{{team.awayPrimaryColor}}</dd>
							<dt>Keeperfarge - primær</dt>
							<dd>{{team.keeperColorPrimary}}</dd>
						</dl>
						<hr>
						<p>Bortedrakter</p>
						<dl>
							<dt>Bortedrakt - primær</dt>
							<dd>{{team.awayPrimaryColor}}</dd>
							<dt>Bortedrakt - sekundær</dt>
							<dd>{{team.awaySecondaryColor}}</dd>
							<dt>Keeperfarge - borte</dt>
							<dd>{{team.keeperColorSecondary}}</dd>
						</dl>
						
					</div>
				</div>
		</div>
	</section>


