
	<h3>Oversikt over draktfarger i PL-sesongen 16/17</h3>
	<section class="search">
		<form action="">
			<label for="">Søk etter lag</label>
			<div class="form-group">
				<input type="text" ng-model="textSearch" placeholder="Lagnavn" class="form-control">
			</div>

			<div class="form-group">
				<button class="form-control btn btn-primary" ng-click="resetTeams()">Vis alle lag</button>
			</div>

		</form>
	</section>

	<div class="row">
		<div class="col-xs-12">
			<h4>Neste kamper</h4>
			<small>Kamper sist hentet: {{dateUpdated | date:'medium'}}</small>
			<table class="table table-striped">
				<thead>
					<th>Dato</th>
					<th>Runde</th>
					<th>Avspark kl.</th>
					<th>Kamp</th>
					<th>Kanal</th>
				</thead>
				<tbody>
					<tr ng-repeat="match in nextMatches">
						<td>{{match.date}}</td>
						<td>{{match.round}}</td>
						<td>{{match.time}}</td>
						<td><a href="" ng-click="getTeams(match.homeTeam, match.awayTeam)">{{match.homeTeam.name}} vs {{match.awayTeam.name}}</a></td>
						<td>{{match.channel}}</td>
						<td><a href="http://{{match.matchUrl}}" target="_blank">Kampside</a></td>
						<td><a href="" ng-click="openTwitter(match.homeTeam.name, match.awayTeam.name)"><i class="fa fa-lg fa-twitter" ></i></a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>




	<section class="players">
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-repeat="team in teams | filter:textSearch | orderBy: 'teamName'" ng-show="allTeams">

				<div class="panel panel-primary">
					<div class="panel-heading text-center">
						<h3 class="team-name">{{team.teamName}}</h3>
						<img ng-src="{{team.homeJersey}}" alt="">
						<img ng-src="{{team.awayJersey}}" alt="">
					</div>
					<div class="panel-body">

						<p><b>Arena:</b> {{team.arena}}</p>
						<p><i class="fa fa-lg fa-twitter"></i><a ng-href="http://twitter.com/{{team.twitter}}" target="_blank"> twitter.com/{{team.twitter}}</a></p>
						<p>Hjemmedrakter</p>
						<dl>
							<dt>Hjemmefarge - primær</dt>
							<dd>{{team.homePrimaryColor}}</dd>
							<dt>Hjemmefarge - sekundær</dt>
							<dd>{{team.homeSecondaryColor}}</dd>
							<dt>Keeperfarge - primær</dt>
							<dd>{{team.keeperColorPrimary}}</dd>
						</dl>
						<hr>
						<p>Bortedrakter</p>
						<dl>
							<dt>Bortedrakt - primær</dt>
							<dd>{{team.awayPrimaryColor}}</dd>
							<dt>Bortedrakt - sekundær</dt>
							<dd>{{team.awaySecondaryColor}}</dd>
							<dt>Keeperfarge - borte</dt>
							<dd>{{team.keeperColorSecondary}}</dd>
						</dl>
					</div>
				</div>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-repeat="team in selectedTeams | filter:textSearch | orderBy: 'priority'" ng-show="selectedTeams">

				<div class="panel panel-primary">
					<div class="panel-heading text-center">
						<h3 class="team-name">{{team.teamName}}</h3>
						<img ng-src="{{team.homeJersey}}" alt="">
						<img ng-src="{{team.awayJersey}}" alt="">
					</div>
					<div class="panel-body">
						
						<p><b>Arena:</b> {{team.arena}}</p>
						<p><i class="fa fa-lg fa-twitter"></i><a ng-href="http://twitter.com/{{team.twitter}}" target="_blank"> twitter.com/{{team.twitter}}</a></p>
						<p>Hjemmedrakter</p>
						<dl>
							<dt>Hjemmefarge - primær</dt>
							<dd>{{team.homePrimaryColor}}</dd>
							<dt>Hjemmefarge - sekundær</dt>
							<dd>{{team.homeSecondaryColor}}</dd>
							<dt>Keeperfarge - primær</dt>
							<dd>{{team.keeperColorPrimary}}</dd>
						</dl>
						<hr>
						<p>Bortedrakter</p>
						<dl>
							<dt>Bortedrakt - primær</dt>
							<dd>{{team.awayPrimaryColor}}</dd>
							<dt>Bortedrakt - sekundær</dt>
							<dd>{{team.awaySecondaryColor}}</dd>
							<dt>Keeperfarge - borte</dt>
							<dd>{{team.keeperColorSecondary}}</dd>
						</dl>
						
					</div>
				</div>
		</div>
	</section>


